In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

The first step is to import all the necessary libraries by using their aliases so we can use them without a hassle.

# Getting Started with Data Analysis using Pandas

In [95]:
df = pd.read_csv('survey_results_public.csv')

df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

By using the read_csv() method, we read the dataset and viewed the top 5 entries by using head() function.

The data we will use in this notebook is called "StackOverflow Annual Developer Survey" data of 2019.

It contains two datasets namely "Public" and "Schema". The Public dataset is the survey data while the Schema dataset explains each column of the Public data and their meaning.

In [3]:
df.shape

(88883, 85)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

Here we used the shape attribute to return the total number of rows and columns of the dataset. And the info() function is a convenient method to see the jist of the entire dataset.

It shows the number of columns with their names and data types and number of entries in them. This is a way to confirm if we can have some null values in the Dataset.

For example, in this we can see that, while  the total entries are 88883, second column has 88331 entires which means it has null values

In [5]:
schema_df = pd.read_csv('survey_results_schema.csv',index_col = 'Column')

schema_df

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

Here, we loaded the "Schema" dataset which displays the meaning of all the columns. 

Notice that we cannot see all the rows in this dataset as Pandas minimises these for not taking up too much of screen space. 

But in cases like these where its essential to see all the rows, we can use a method called set_option() as shown below

In [279]:
pd.set_option('display.max_columns',85)

By setting the maximum rows to be displayed as 85, we can clearly see all the rows of the "Schema" dataset now

In [7]:
schema_df

                                                             QuestionText
Column
Respondent              Randomized respondent ID number (not in order ...
MainBranch              Which of the following options best describes ...
Hobbyist                                          Do you code as a hobby?
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
Employment              Which of the following best describes your cur...
Country                         In which country do you currently reside?
Student                 Are you currently enrolled in a formal, degree...
EdLevel                 Which of the following best describes the high...
UndergradMajor          What was your main or most important field of ...
EduOther                Which of the following types of non-degree edu...
OrgSize                 Approximately how many people are employed by ...
DevType                 Which of the following describe you? Please se...
YearsCode               Including any education, how many years have y...
Age1stCode              At what age did you write your first line of c...
YearsCodePro            How many years have you coded professionally (...
CareerSat               Overall, how satisfied are you with your caree...
JobSat                  How satisfied are you with your current job? (...
MgrIdiot                How confident are you that your manager knows ...
MgrMoney                Do you believe that you need to be a manager t...
MgrWant                 Do you want to become a manager yourself in th...
JobSeek                 Which of the following best describes your cur...
LastHireDate            When was the last time that you took a job wit...
LastInt                 In your most recent successful job interview (...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
JobFactors              Imagine that you are deciding between two job ...
ResumeUpdate            Think back to the last time you updated your r...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
ConvertedComp           Salary converted to annual USD salaries using ...
WorkWeekHrs              On average, how many hours per week do you work?
WorkPlan                          How structured or planned is your work?
WorkChallenge           Of these options, what are your greatest chall...
WorkRemote                                How often do you work remotely?
WorkLoc                                   Where would you prefer to work?
ImpSyn                  For the specific work you do, and the years of...
CodeRev                          Do you review code as part of your work?
CodeRevHrs              On average, how many hours per week do you spe...
UnitTests               Does your company regularly employ unit tests ...
PurchaseHow             How does your company make decisions about pur...
PurchaseWhat            What level of influence do you, personally, ha...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
DevEnviron              Which development environment(s) do you use re...
OpSys                   What is the primary operating system in which ...
Containers              How do you use containers (Docker, Open Contai...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
ITperson                 Are you the "IT support person" for your family?
OffOn                         Have you tried turning it off and on again?
SocialMedia                   What social media site do you use the most?
Extraversion              Do you prefer online chat or IRL conversations?
ScreenName                                           What do you call it?
SOVisit1st              To the best of your memory, when did you first...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOFindAnswer            On average, how many times a week do you find ...
SOTimeSaved             Think back to the last time you solved a codin...
SOHowMuchTime           About how much time did you save? If you're no...
SOAccount                           Do you have a Stack Overflow account?
SOPartFreq              How frequently would you say you participate i...
SOJobs                  Have you ever used or visited Stack Overflow J...
EntTeams                Have you ever used Stack Overflow for Enterpri...
SOComm                  Do you consider yourself a member of the Stack...
WelcomeChange           Compared to last year, how welcome do you feel...
SONewContent            Would you like to see any of the following on ...
Age                     What is your age (in years)? If you prefer not...
Gender                  Which of the following do you currently identi...
Trans                                     Do you identify as transgender?
Sexuality               Which of the following do you currently identi...
Ethnicity               Which of the following do you identify as? Ple...
Dependents              Do you have any dependents (e.g., children, el...
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...

Right now, this might not be an efficient method to constantly come back to this Dataframe to see the meaning of the columns in "Public" but as we move down further, we will discuss about various filtering and accessing methods which will make our job easier.

For example, the row named "Country" in the "Schema" dataframe asks a question stating "In which country do you currently reside?", while the rows in the "Public" dataframe contains a list of country names in which various people who were surveyed reside in.

Note:

1. Dataframe is a 2 Dimensional Structure as it has rows and columns and it is a concatenation of multiple series.
2. Series is a 1 Dimensional Structure and it is a lot similar to 1D arrays with more functionalities

In [8]:
df['Country']

0                United Kingdom
1        Bosnia and Herzegovina
2                      Thailand
3                 United States
4                       Ukraine
                  ...
88878                    Canada
88879                       NaN
88880                       NaN
88881                       NaN
88882                     Spain
Name: Country, Length: 88883, dtype: object

We can access a single column in the dataframe by specifying it within the paranthesis of the dataframe as shown above.

For multiple columns, we use a list of columns inside the paranthesis.

In [9]:
df[['Country','Hobbyist']]

                      Country Hobbyist
0              United Kingdom      Yes
1      Bosnia and Herzegovina       No
2                    Thailand      Yes
3               United States       No
4                     Ukraine      Yes
...                       ...      ...
88878                  Canada      Yes
88879                     NaN       No
88880                     NaN       No
88881                     NaN       No
88882                   Spain      Yes

[88883 rows x 2 columns]

We can see that, when we used a single column, we can see that a Series is returned while when passing multiple columns, we can see that a DataFrame is returned

In [10]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

# iloc and loc

There is a lot of confusion regarding the usage of the functions "iloc" and "loc" so let's talk about this in a detailed manner by using lots of examples of iloc and loc

First, let us proceed with iloc

"iloc" stands for "Integer Location" and this is used to identify or locate the values present in the Dataframe by using the integers as its indexes.

There are several ways of accessing the data by using iloc so let us list them.

1. By specifying only the row
2. By specifying multiple rows
3. By specifying a row and a specific column
4. By specifying single/multiple row/rows and single/multiple column/columns

Now, let us look at how we can access all the data present in a single row by using "iloc". By default, the parameter list of iloc is [rows,columns] so rows come first followed by columns.

But since in this case, we need everything from columns, we dont specify an index for the column.

Below is the example

In [11]:
df.iloc[0] #First row is specified and we get all the data for the 1st row

Respondent                                                                1
MainBranch                           I am a student who is learning to code
Hobbyist                                                                Yes
OpenSourcer                                                           Never
OpenSource                The quality of OSS and closed source software ...
Employment                           Not employed, and not looking for work
Country                                                      United Kingdom
Student                                                                  No
EdLevel                                           Primary/elementary school
UndergradMajor                                                          NaN
EduOther                  Taught yourself a new language, framework, or ...
OrgSize                                                                 NaN
DevType                                                                 NaN
YearsCode                                                                 4
Age1stCode                                                               10
YearsCodePro                                                            NaN
CareerSat                                                               NaN
JobSat                                                                  NaN
MgrIdiot                                                                NaN
MgrMoney                                                                NaN
MgrWant                                                                 NaN
JobSeek                                                                 NaN
LastHireDate                                                            NaN
LastInt                                                                 NaN
FizzBuzz                                                                NaN
JobFactors                                                              NaN
ResumeUpdate                                                            NaN
CurrencySymbol                                                          NaN
CurrencyDesc                                                            NaN
CompTotal                                                               NaN
CompFreq                                                                NaN
ConvertedComp                                                           NaN
WorkWeekHrs                                                             NaN
WorkPlan                                                                NaN
WorkChallenge                                                           NaN
WorkRemote                                                              NaN
WorkLoc                                                                 NaN
ImpSyn                                                                  NaN
CodeRev                                                                 NaN
CodeRevHrs                                                              NaN
UnitTests                                                               NaN
PurchaseHow                                                             NaN
PurchaseWhat                                                            NaN
LanguageWorkedWith                          HTML/CSS;Java;JavaScript;Python
LanguageDesireNextYear      C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL
DatabaseWorkedWith                                                   SQLite
DatabaseDesireNextYear                                                MySQL
PlatformWorkedWith                                            MacOS;Windows
PlatformDesireNextYear                              Android;Arduino;Windows
WebFrameWorkedWith                                             Django;Flask
WebFrameDesireNextYear                                         Flask;jQuery
MiscTechWorkedWith                                                  Node.js
MiscTechDesireNextYear                                              Node.js
DevEnviron                                       IntelliJ;Notepad++;PyCharm
OpSys                                                               Windows
Containers                                          I do not use containers
BlockchainOrg                                                           NaN
BlockchainIs                                                            NaN
BetterLife                                                              Yes
ITperson                           Fortunately, someone else has that title
OffOn                                                                   Yes
SocialMedia                                                         Twitter
Extraversion                                                         Online
ScreenName                                                         Username
SOVisit1st                                                             2017
SOVisitFreq                                 A few times per month or weekly
SOVisitTo                 Find answers to specific questions;Learn how t...
SOFindAnswer                                             3-5 times per week
SOTimeSaved                                  Stack Overflow was much faster
SOHowMuchTime                                                 31-60 minutes
SOAccount                                                                No
SOPartFreq                                                              NaN
SOJobs                    No, I didn't know that Stack Overflow had a jo...
EntTeams                                No, and I don't know what those are
SOComm                                                              Neutral
WelcomeChange                       Just as welcome now as I felt last year
SONewContent              Tech articles written by other developers;Indu...
Age                                                                      14
Gender                                                                  Man
Trans                                                                    No
Sexuality                                           Straight / Heterosexual
Ethnicity                                                               NaN
Dependents                                                               No
SurveyLength                                          Appropriate in length
SurveyEase                                       Neither easy nor difficult
Name: 0, dtype: object

Now, let us look at how we can access the data of multiple rows by using iloc.

So for accessing multiple rows, there are two ways in which we can do them.

1. By specifying the indexes of the rows as a list
2. By slicing the indexes just like we do in lists


1. In the first method, we pass the indexes of the rows we want to access,as a list inside the iloc function. The syntax for this is df.iloc[[row1,row2,...,rown]]. 

While using only 2 columns, we have to be vary of specifying them as a list as df.iloc[[x,y]] is entierly different from df.iloc[x,y] as in second case, it returns a single value at xth row and yth column and not a dataframe of x and y rows as we need

2. In the second method, we pass the indexes as a slicing operation between a range so the dataframe is returned for that particular range. Keep note that, the range in iloc is exclusive of outer bound which means, the values are returned one less than outer bound.

Now, let us look at the examples

In [13]:
#Accessing multiple rows by passing row indexes as a list
df.iloc[[1,3]]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [14]:
df.iloc[1,3]

#Note here that df.iloc[[1,3]] != df.iloc[1,3] as 3 here means the column index and not row index

'Less than once per year'

In [15]:
df.iloc[2:4] #As iloc is exclusive of outer bound, only indexes 2 and 3 are returned in this case.

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

An important thing to note while using slicing is that we should not pass them inside a list while using the iloc or loc function. The syntax shoule be like

df.iloc[rowx:rowy,colx:coly]

df.loc[rowx:rowy,"colnamex":"colnamey"]

Now, let us see how we can access a specific element by using iloc. The default syntax is df.iloc[row,column] so we use this to access one element.

Let us look at an example below

In [16]:
df.iloc[0,3] #This returns the value present in 1st row and 4th column

'Never'

Now, let us look at the way in which we can access the dataframe by specifying multiple rows and multiple columns. 

The way is simple as all we need to do is to pass the multiple rows and columns as a list and pass them inside the iloc function.

Let us look at the example below

In [17]:
df.iloc[[0,1],[3,4]] #This returns the dataframe having 2 rows which are 0,1 rows of orginal and 2 columns which are 3 and 4

               OpenSourcer                                         OpenSource
0                    Never  The quality of OSS and closed source software ...
1  Less than once per year  The quality of OSS and closed source software ...

Now, that we have succesfully seen the iloc function, let us talk about the loc function.

"loc" stands for location and in this function, we can access certain elements or the dataframe by specifying the indexes of the row and the "name" of the column. 

If we try to access the dataframe or a value by specifying the column index, it throws an error.

The methods are similar to the "loc" just like iloc but the slicing operation's range is inclusive in this case. This means that the upper bound is considered too for the "loc" operation.

Now, let us look at the examples just like iloc

In [18]:
df.loc[0] #First row is specified and we get all the data for the 1st row

Respondent                                                                1
MainBranch                           I am a student who is learning to code
Hobbyist                                                                Yes
OpenSourcer                                                           Never
OpenSource                The quality of OSS and closed source software ...
Employment                           Not employed, and not looking for work
Country                                                      United Kingdom
Student                                                                  No
EdLevel                                           Primary/elementary school
UndergradMajor                                                          NaN
EduOther                  Taught yourself a new language, framework, or ...
OrgSize                                                                 NaN
DevType                                                                 NaN
YearsCode                                                                 4
Age1stCode                                                               10
YearsCodePro                                                            NaN
CareerSat                                                               NaN
JobSat                                                                  NaN
MgrIdiot                                                                NaN
MgrMoney                                                                NaN
MgrWant                                                                 NaN
JobSeek                                                                 NaN
LastHireDate                                                            NaN
LastInt                                                                 NaN
FizzBuzz                                                                NaN
JobFactors                                                              NaN
ResumeUpdate                                                            NaN
CurrencySymbol                                                          NaN
CurrencyDesc                                                            NaN
CompTotal                                                               NaN
CompFreq                                                                NaN
ConvertedComp                                                           NaN
WorkWeekHrs                                                             NaN
WorkPlan                                                                NaN
WorkChallenge                                                           NaN
WorkRemote                                                              NaN
WorkLoc                                                                 NaN
ImpSyn                                                                  NaN
CodeRev                                                                 NaN
CodeRevHrs                                                              NaN
UnitTests                                                               NaN
PurchaseHow                                                             NaN
PurchaseWhat                                                            NaN
LanguageWorkedWith                          HTML/CSS;Java;JavaScript;Python
LanguageDesireNextYear      C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL
DatabaseWorkedWith                                                   SQLite
DatabaseDesireNextYear                                                MySQL
PlatformWorkedWith                                            MacOS;Windows
PlatformDesireNextYear                              Android;Arduino;Windows
WebFrameWorkedWith                                             Django;Flask
WebFrameDesireNextYear                                         Flask;jQuery
MiscTechWorkedWith                                                  Node.js
MiscTechDesireNextYear                                              Node.js
DevEnviron                                       IntelliJ;Notepad++;PyCharm
OpSys                                                               Windows
Containers                                          I do not use containers
BlockchainOrg                                                           NaN
BlockchainIs                                                            NaN
BetterLife                                                              Yes
ITperson                           Fortunately, someone else has that title
OffOn                                                                   Yes
SocialMedia                                                         Twitter
Extraversion                                                         Online
ScreenName                                                         Username
SOVisit1st                                                             2017
SOVisitFreq                                 A few times per month or weekly
SOVisitTo                 Find answers to specific questions;Learn how t...
SOFindAnswer                                             3-5 times per week
SOTimeSaved                                  Stack Overflow was much faster
SOHowMuchTime                                                 31-60 minutes
SOAccount                                                                No
SOPartFreq                                                              NaN
SOJobs                    No, I didn't know that Stack Overflow had a jo...
EntTeams                                No, and I don't know what those are
SOComm                                                              Neutral
WelcomeChange                       Just as welcome now as I felt last year
SONewContent              Tech articles written by other developers;Indu...
Age                                                                      14
Gender                                                                  Man
Trans                                                                    No
Sexuality                                           Straight / Heterosexual
Ethnicity                                                               NaN
Dependents                                                               No
SurveyLength                                          Appropriate in length
SurveyEase                                       Neither easy nor difficult
Name: 0, dtype: object

In [19]:
#Accessing multiple rows by passing row indexes as a list
df.loc[[0,3]]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [20]:
df.loc[1,3]

#This throws an error as loc doesnt accept column indexes

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [3] of <class 'int'>

In [21]:
df.loc[2:4] #As loc is inclusive of outer bound unlike iloc, so indexes 2,3 and 4 are returned in this case

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

Now, let us see how we can access a specific element by using loc. The default syntax is df.loc[row,"column name"] so we use this to access one element.

Let us look at an example below

In [22]:
df.loc[0,'OpenSourcer'] #Returns the value of opensourcer in first row which is "Never".

'Never'

Now, let us look at the way in which we can access the dataframe by specifying multiple rows and multiple columns. 

The way is simple as all we need to do is to pass the multiple rows and column names as a list and pass them inside the loc function.


Let us look at the example below

In [23]:
df.loc[[0,1],['Country','Student']]

#returns the values of country and student in 1st and 2nd rows

                  Country         Student
0          United Kingdom              No
1  Bosnia and Herzegovina  Yes, full-time

In [24]:
df.loc[0:2,'Country':'OrgSize']

#returns the values of all columns from country to orgsize in 1st to 3rd rows

,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize
0,United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN
1,Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN
2,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees

So, these are the ways in which we use both "loc" and "iloc" functions.

loc function is also used in indexing but we will look at it in later part of this notebook

In [25]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In order to know the number of values in a column of the dataframe as above, like knowing the number of Yes and No, we can use the value_counts() function as shown below

In [26]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

This returns the number of times each unique value occured in that particular column of the dataframe

# Indexes - How to Set, Reset, and Use Indexes

Index is the default and one of the most prominent column in any dataset. By default, most of the datasets have indexes have ranges from 0 to number of rows-1

However, in Pandas, we have many options wherein we can set our own custom indexes, reset them if we dont want and also create new indexes if we wish for it.

For setting a particular column as an index, all we need to do is to pass in the column name as the parameter inside the set_index() function as shown below

In [27]:
df.set_index('Respondent')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [28]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

So, now we can see that the index is set as "Respondent" column in the dataframe as it is unique as well. But when we look at the dataframe in the above cell, we can see that these changes we made are not included in the original dataframe.

For the changes to be reflected in the dataframe, we need to pass in the parameter called "inplace" and set it to True

So, the updated syntax would be like:

df.set_index('colname',inplace=True)

In [29]:
df.set_index('Respondent',inplace=True)

In [30]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

Now, we can see that these changes are reflected in the dataframe as well.


Now, sometimes we want to reset our index back to the default index and pandas has a method called "reset_index" which does that.

The syntax would be like: 
df.reset_index(inplace=True)

In [31]:
df.reset_index(inplace=True)

In [32]:
df.head() #Now, we can see that the dataset is back to its original index

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

We can view the index of the dataframe by using the "df.index" attribute as shown below

In [33]:
df.index #Here the index is in the range(0,88883)

RangeIndex(start=0, stop=88883, step=1)

If we know the index which we can use while reading the dataframe, we can use a special paramter called "index_col" inside the read_csv function to specify the index while reading the dataframe.

This saves us both the effort and minimises the code to randomly setup the index later.

The syntax is like:
pd.read_csv('filename.csv",index_col='colname')

In [34]:
pd.read_csv('survey_results_public.csv',index_col='Respondent')

#Now, we can see that the 'Respondent' column is automatically chosen to be the index

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

Now, I made the index of the schema dataframe to be column as we can easily search the meaning of the column name just by using the loc function as shown below. Note that, we cannot use the iloc function anymore for this as index is not an integer

In [35]:
schema_df.head() #Column is the index

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [36]:
schema_df.loc['Hobbyist'] #Finding the meaning of "Hobbyist" column by using loc

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

Although, we made the index to the column names, it looks good if they are to be arranged in an alphabetical order.

We can do this by using the "sort_index"() function as shown below

In [37]:
schema_df.sort_index(inplace=True)

In [38]:
schema_df.head()

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...

In [39]:
schema_df.sort_index(inplace=True,ascending=False) #To sort indescending order

In [40]:
schema_df.head()

                                                   QuestionText
Column
YearsCodePro  How many years have you coded professionally (...
YearsCode     Including any education, how many years have y...
WorkWeekHrs    On average, how many hours per week do you work?
WorkRemote                      How often do you work remotely?
WorkPlan                How structured or planned is your work?

# Filtering - Using Conditionals to Filter Rows and Columns

Filtering is one of the most essential operations which we perform on a dataset based on various conditions and to extract some insights. 

Now, let us look at some ways in which we perform filtering.

We can filter data by specifying a filter condition and then passing the condition inside a dataframe to obtain the filtered dataframe.

For doing this, we can either use .loc function or the normal calling function.

Now, let us take an example of the Public dataset. We want to find out the 'Employment' and "Main Branch" of all the people who reside in the "United States".

First let us do this by the normal method.

The normal method is to create a filter function for "United States" and pass this inside a DataFrame by using the syntax like:- df[filtercondition] and then accessing these two specific columns of the new dataframe by using the loc function. We wont be using the iloc function as it is difficult to count the column number of specific columns all the time

In [41]:
#Specifying the filter function. This returns a series of True and False based on the condition
filt = df['Country']=='United States'

filt

0        False
1        False
2        False
3         True
4        False
         ...
88878    False
88879    False
88880    False
88881    False
88882    False
Name: Country, Length: 88883, dtype: bool

In [42]:
#Passing the filter function inside dataframe to obtain a filtered dataframe

df[filt].head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy

In [50]:
#Finally accessing the specific columns to get the desired output

df[filt][['Employment','MainBranch']].head()

            Employment                      MainBranch
3   Employed full-time  I am a developer by profession
12  Employed full-time  I am a developer by profession
21  Employed full-time  I am a developer by profession
22  Employed full-time  I am a developer by profession
25  Employed full-time  I am a developer by profession

The other way is to do by using the .loc function. Although this is similar to the previous method in steps, we can reduce the complexity of code vastly by using the .loc function.

We know that the .loc() takes two parameters as an input which are [rows,column names]. Now, we can obtain the needed data by passing the filtered condtion as rows and the required column names as a list of columns inside loc to get the final dataframe

In [51]:
df.loc[filt,['Employment','MainBranch']].head()

            Employment                      MainBranch
3   Employed full-time  I am a developer by profession
12  Employed full-time  I am a developer by profession
21  Employed full-time  I am a developer by profession
22  Employed full-time  I am a developer by profession
25  Employed full-time  I am a developer by profession

We can even use the 'And' and 'Or' operators to filter various conditions based on our requirement.

A key point to note is that, in Pandas we have to use the symbols & and | for 'And' and 'Or' operations.

Let us look at an example

In [52]:
#Finding the people who reside in United States and not a student. We use paranthesis to seperate multiple conditions.

filt = ((df['Country']=='United States') & (df['Student']=='No'))
filt

0        False
1        False
2        False
3         True
4        False
         ...
88878    False
88879    False
88880    False
88881    False
88882    False
Length: 88883, dtype: bool

In [53]:
#Finding the employment status of these filtered people

df.loc[filt].head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy

In [54]:
#An example for Or
#Finding the people who reside in United States and not a student. We use paranthesis to seperate multiple conditions.

filt = ((df['Country']=='United States') | (df['Student']=='No'))
df[filt].head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult

We can even use the not operator in a similar way

Now, let us look at some filters by using some examples

In [55]:
high_sal = df['ConvertedComp']>70000
df.loc[high_sal,['Country','LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
5,Canada,Java;R;SQL,366420.0
8,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
12,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
15,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
21,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88323,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88324,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88325,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88326,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88329,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [56]:
#We can usethe isin() operator to find the list of column values in column

countries = ['United States','India','United Kingdom','Canada','Germany']
filt = df['Country'].isin(countries)

In [57]:
df.loc[filt,'Country']

0        United Kingdom
3         United States
5                Canada
7                 India
9                 India
              ...
88859     United States
88863    United Kingdom
88864             India
88877     United States
88878            Canada
Name: Country, Length: 45008, dtype: object

Sometimes, the value of a certain column isn't necessarily a string or a value instead it can be a list of strings or values or dictionaries etc.

In these cases, we cannot directly use the isin() function or the == to filter them.String functions come in hand y in these cases.

Now, let us look at the most commonly used the string method called str.contains().

This takes in the string as an input argument which it searches and also a default na value incase the column has any null values in it.


Now,let us look at an example wherein we filter the people based on if they worked with Python language and seperate the ones.

In [58]:
df['LanguageWorkedWith'].head()

0                HTML/CSS;Java;JavaScript;Python
1                            C++;HTML/CSS;Python
2                                       HTML/CSS
3                            C;C++;C#;Python;SQL
4    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object

In [59]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt,'LanguageWorkedWith'].head()

0                      HTML/CSS;Java;JavaScript;Python
1                                  C++;HTML/CSS;Python
3                                  C;C++;C#;Python;SQL
4          C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
7    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
Name: LanguageWorkedWith, dtype: object

# Updating Rows and Columns - Modifying Data Within DataFrames

Now that we have seen how to filter the rows based on some conditions, let us now look at how we can use these filtering conditions to update and modify various rows within the dataframes

In [60]:
#looking at all the columns
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

There are a couple of ways in which we can change the name of the columns which we will look over now.

1. Manually assigning all the columns to a list of new column names
2. Using the .rename() function

The first method is to pass in all the new column names inside a list and assigning it to the df.columns to update it

In [174]:
#Let us take a small dataframe to do it quickly for this

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

dfa = pd.DataFrame(people)

dfa

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [62]:
#Passing the new names as a list to the default df.columns

dfa.columns = ['FirstName','LastName','Email']

In [63]:
#We can see the new column names inside the dataframe
dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

This method isnt useful as this only works for the case in which we want to replace the names of all the columns and not just some columns

In [64]:
#We can change the case of all the column names by using df.columns

df.columns = [i.upper() for i in df.columns]

df.head()

,RESPONDENT,MAINBRANCH,HOBBYIST,OPENSOURCER,OPENSOURCE,EMPLOYMENT,COUNTRY,STUDENT,EDLEVEL,UNDERGRADMAJOR,...,WELCOMECHANGE,SONEWCONTENT,AGE,GENDER,TRANS,SEXUALITY,ETHNICITY,DEPENDENTS,SURVEYLENGTH,SURVEYEASE
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [65]:
#We can change the case of all the column names by using df.columns

df.columns = [i.lower() for i in df.columns]

df.head()

,respondent,mainbranch,hobbyist,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

The second method to rename is by using the .rename() function. This function is widely used as this replaces the names of the specific columns with a new value.

The syntax is:- df.rename(columns = {col1name:newcol1name, col2name:newcol2name......},inplace=True)

In [66]:
#Let us rename the respondent and mainbranch to 'UniqueID' and 'Branch'

df.rename(columns = {'respondent':'UniqueID','mainbranch':'Branch'},inplace=True)

In [67]:
df.head()

,UniqueID,Branch,hobbyist,opensourcer,opensource,employment,country,student,edlevel,undergradmajor,...,welcomechange,sonewcontent,age,gender,trans,sexuality,ethnicity,dependents,surveylength,surveyease
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

Now, let us look at how we can update the values in our rows by using loc and iloc by using the sample dataframe dfa

In [68]:
dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [69]:
#Grabbing the data at index location 2
dfa.loc[2]

FirstName                 John
LastName                   Doe
Email        JohnDoe@email.com
Name: 2, dtype: object

In [70]:
#Changing last name to smith and email as well
dfa.loc[2] = ['John','Smith','JohnSmith@gmail.com']

dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith      JohnSmith@gmail.com

This is inefficient as for more entries datasets, we can use loc to grab some specific values of the dataframes

In [71]:
#Grabbing only specific values of specific columns

dfa.loc[2,['LastName','Email']] = ['Doe','JohnDoe@email.com']
dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [72]:
#Changing only one value by using loc
dfa.loc[2,'LastName'] = 'Smith'

dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith        JohnDoe@email.com

Pandas has a specific function called 'at' which performs the same function as .loc as we used above. Let us look at an example

In [73]:
#Changing lastname of John to Doe again

dfa.at[2,'LastName'] = 'Doe'

dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

One of the common mistakes which we can do is as follows. Let us look at an example below.

Here, we tried accessing the last name of "John" by using a filter condition and then accessing the lastname of that dataframe.

Then we tried to set that value to "Smith" which resulted in an error.

This is due to the fact that the dataframe we created is a subset and a temporary dataframe and can be tossed out anytime.

So, make sure to change the values only by using the .loc method

In [74]:
filt = (dfa['Email'] == 'JohnDoe@email.com')
dfa[filt]['LastName']

2    Doe
Name: LastName, dtype: object

In [75]:
dfa[filt]['LastName'] = 'Smith'

C:\Users\Rahul M\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
#We can see that the LastName isnt changed
dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [77]:
#Correcting that mistake

dfa.loc[filt,'LastName'] = 'Smith'
dfa

  FirstName LastName                    Email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith        JohnDoe@email.com

In [78]:
#Let us now change all the emails to lowercase

dfa['Email'] = dfa['Email'].str.lower()

dfa

  FirstName LastName                    Email
0     Corey  Schafer  coreymschafer@gmail.com
1      Jane      Doe        janedoe@email.com
2      John    Smith        johndoe@email.com

Now, let us do some advanced operations on changing the values in columns. There are 4 different methods in which we can change all the values of a certain column based on some conditions.

1. apply()
2. map()
3. applymap()
4. replace()

Let us look at each of them in detail.

Apply is used to call a function onto a value. This can be used for both Series and Dataframes. Let us look at how it works on a Series and Dataframe.

In [79]:
#We used the apply function to find length of email addresses of a series

dfa['Email'].apply(len)

0    23
1    17
2    17
Name: Email, dtype: int64

Now, let us look at how we can update values based on a function.

For example, we ar gonna create a function that changes the email address to uppercase in all entries.

In [80]:
def update(email):
    return email.upper()

In [81]:
#Applying this function to email column

dfa['Email'] = dfa['Email'].apply(update)

dfa

  FirstName LastName                    Email
0     Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1      Jane      Doe        JANEDOE@EMAIL.COM
2      John    Smith        JOHNDOE@EMAIL.COM

We can use the same steps for updating the values based on a complex function as well

In [82]:
#Converting the emails back to lowercase by using "lambda" function

dfa['Email'] = dfa['Email'].apply(lambda x: x.lower())

dfa

#We can either use lambda or a custom function based on ur comfort

  FirstName LastName                    Email
0     Corey  Schafer  coreymschafer@gmail.com
1      Jane      Doe        janedoe@email.com
2      John    Smith        johndoe@email.com

Now, let us see how the apply function works on a dataframe.

When we run apply on an entire dataframe, it runs on each row and column of a dataframe.

In [83]:
dfa.apply(len)

FirstName    3
LastName     3
Email        3
dtype: int64

This result might come to be unexpected as we expected the function to give out the length of each value but in this case, the len function is returning the number of entries in each column of this dataframe.

So, FirstName has 3 rows called Corey,John,Jane. Thats why it returned 3

In [84]:
#This is the function thats happening

len(dfa['FirstName'])

3

In [85]:
#Lets find the minimum value of each column in this dataframe
dfa.apply(pd.Series.min)

FirstName                      Corey
LastName                         Doe
Email        coreymschafer@gmail.com
dtype: object

So, to sum the apply() function,
1. It applies the function to each value of the series.
2. It applies the function to each row and column in the dataframe and not their values

Sometimes, we need the function to be applied to each and every value in the dataframe and this is precisely when we use the applymap() function.

Applymap() function only works on dataframes and not series and it applies a certain condition to all the values in a dataframe

In [86]:
#We can see that it runs the len function on each value of the dataframe and returns their length

dfa.applymap(len)

   FirstName  LastName  Email
0          5         7     23
1          4         3     17
2          4         5     17

In [87]:
def func(s):
    return s.lower()
dfa = dfa.applymap(func)

In [88]:
dfa

  FirstName LastName                    Email
0     corey  schafer  coreymschafer@gmail.com
1      jane      doe        janedoe@email.com
2      john    smith        johndoe@email.com

Now. let us look at the map() function.

map() funcion only works on a series. This is mainly used to subsitute various values in a series inplace of already exisitng values.

map() takes in a dictionary of values as {exisiting value:new value} and replaces them at all occurances

In [89]:
dfa['FirstName'].map({'corey':'Rahul','jane':'emma'})

0    Rahul
1     emma
2      NaN
Name: FirstName, dtype: object

Here, we notice a problem that whatever values which we havent specified as a dictionary are replaced as nan values when map() is used.

So we only use map functions wherein the unique values in that column are minimum like Yes/No or 0/1 etc

Whatif we wanted to update only the selected values and keep other values as it is?

This is when we use replace() function.

replace() function replaces only the specified values and leaves the others as it is

In [90]:
#Here, we can see that the name john is retained as we wanted to be

dfa['FirstName'].replace({'corey':'Rahul','jane':'emma'})

0    Rahul
1     emma
2     john
Name: FirstName, dtype: object

Now, let us use this knowledge to work on our larger dataset which is the "Public" dataset we already have

In [96]:
#Let us rename the "ConvertedComp" column to "SalaryUSD" and keep it permanent
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

In [97]:
#We can see that the change is reflected into the original dataframe

df['SalaryUSD']

0            NaN
1            NaN
2         8820.0
3        61000.0
4            NaN
          ...
88878        NaN
88879        NaN
88880        NaN
88881        NaN
88882        NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [98]:
#Lets look at this column now. We can clearly see that the only values in this are Yes and No.


df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [99]:
#So, lets change the values of Yes and No to True or False by using the map() function

df['Hobbyist'] = df['Hobbyist'].map({'Yes':'True','No':'False'})
df['Hobbyist']

#We can see the changes clearly

0         True
1        False
2         True
3        False
4         True
         ...
88878     True
88879    False
88880    False
88881    False
88882     True
Name: Hobbyist, Length: 88883, dtype: object

# Add/Remove Rows and Columns From DataFrames

Till now, we have seen how we can updat elements within our rows and columns of the dataframe. Now, let us look at how we can create or remove various rows and columns based on our need.

First, let us look at how we can create a new column.

Creating a new column is easy in Pandas. For creating a new column, we just have to pass in the name of the column to the dataframe and assign a list of values that it can hold as elements in that column.

Let us look at how we can do it on a smaller dataset dfa before moving on to the Survey dataset.

In [100]:
dfa

  FirstName LastName                    Email
0     corey  schafer  coreymschafer@gmail.com
1      jane      doe        janedoe@email.com
2      john    smith        johndoe@email.com

Now, let us try to create a column which has the sum of both FirstName and LastName titled as FullName

In [105]:
#Creating a new column by using string addition

dfa['FullName'] = dfa['FirstName']+' '+dfa['LastName']
dfa

  FirstName LastName                    Email       FullName
0     corey  schafer  coreymschafer@gmail.com  corey schafer
1      jane      doe        janedoe@email.com       jane doe
2      john    smith        johndoe@email.com     john smith

Note that, while creating new column, we cannot use the dot operator for assignning values to a new column

Now, let us see how we can remove columns in a dataframe.

In this example, since we already have full name, lets remove both first name and last name.

We can use the .drop() function to remove a single column or a list of columns easily.

The syntax is like :- df.drop(columns=['col1','col2'.....,'coln'])

In [111]:
#Returns the required datframe. if we want changes to be reflected, we can use inplace=True

dfa.drop(columns=['FirstName','LastName'])

                     Email       FullName
0  coreymschafer@gmail.com  corey schafer
1        janedoe@email.com       jane doe
2        johndoe@email.com     john smith

In [112]:

dfa.drop(columns=['FirstName','LastName'],inplace=True)
dfa

                     Email       FullName
0  coreymschafer@gmail.com  corey schafer
1        janedoe@email.com       jane doe
2        johndoe@email.com     john smith

In [129]:
#We have split the FullName column to get firstname and lastname as a list so we can use this to assign columns

dfa['FullName'].str.split(' ',expand=True)

#Here the expand=True, returns a dataframe resulting by the split

       0        1
0  corey  schafer
1   jane      doe
2   john    smith

In [133]:
#Finishing up by assigning new columns to the created dataframe as above

dfa[['FirstName','LastName']] = dfa['FullName'].str.split(' ',expand=True)
dfa

                     Email       FullName FirstName LastName
0  coreymschafer@gmail.com  corey schafer     corey  schafer
1        janedoe@email.com       jane doe      jane      doe
2        johndoe@email.com     john smith      john    smith

Now that we have seen how we can add, remove and update columns, let us now look at how to perform these operations on rows of the dataframe

There are a couple of ways in which we can add rows to a dataframe.

1. We might want to add a new row or multiple rows to the existing dataframe
2. We might want to merge two dataframes into a single dataframe by appending its rows

Now, let us look at how we can add a single row to a dataframe. 

We can usually do this by using the .append() method and passing all the attributes as a dictionary.

Let us look at an example below

In [137]:
#We have to make sure to pass in ignore_index=True as pandas can only append if the existing series has a name or if
#ignore_index=True

dfa.append({'FirstName':'Tony','LastName':'Anthwan','Email':'tn@email.com','FullName':'Tony Anthwan'},ignore_index=True)

                     Email       FullName FirstName LastName
0  coreymschafer@gmail.com  corey schafer     corey  schafer
1        janedoe@email.com       jane doe      jane      doe
2        johndoe@email.com     john smith      john    smith
3             tn@email.com   Tony Anthwan      Tony  Anthwan

Now, let us look at how we can append rows of multiple dataframes to create a single dataframe.

For this,we are gonna create a new dataframe similar to the dfa one

In [153]:
people = {
    "FirstName": ["Tony", 'Steve'], 
    "LastName": ["Stark", 'Rogers'], 
    "Email": ["TonyStark0@gmail.com", 'SteveRogers@email.com']
}
dfb = pd.DataFrame(people)
dfb

  FirstName LastName                  Email
0      Tony    Stark   TonyStark0@gmail.com
1     Steve   Rogers  SteveRogers@email.com

In [161]:
#We can see that, wherever the values are missing, it adds Nan to them

dfa.append(dfb,ignore_index=True)

,first,last,email,FirstName,LastName,Email
0,Corey,Schafer,CoreyMSchafer@gmail.com,NaN,NaN,NaN
1,Jane,Doe,JaneDoe@email.com,NaN,NaN,NaN
2,John,Doe,JohnDoe@email.com,NaN,NaN,NaN
3,NaN,NaN,NaN,Tony,Stark,TonyStark0@gmail.com
4,NaN,NaN,NaN,Steve,Rogers,SteveRogers@email.com

Unlike the drop method which has a default "inplace=True" method, this append method doesn't have it so we have to manually assign it to the returned dataframe for the changes to reflect

In [162]:
dfa = dfa.append(dfb,ignore_index=True)

In [163]:
dfa

,first,last,email,FirstName,LastName,Email
0,Corey,Schafer,CoreyMSchafer@gmail.com,NaN,NaN,NaN
1,Jane,Doe,JaneDoe@email.com,NaN,NaN,NaN
2,John,Doe,JohnDoe@email.com,NaN,NaN,NaN
3,NaN,NaN,NaN,Tony,Stark,TonyStark0@gmail.com
4,NaN,NaN,NaN,Steve,Rogers,SteveRogers@email.com

Finally, now let us look at how we can remove the rows in a dataframe.

We can remove the rows by using their index values by passing them inside the drop() function

Let us consider the example below

In [164]:
#For dropping a single row, we dont need brackets

dfa.drop(index=[4,3],inplace=True)
dfa

   first     last                    email FirstName LastName Email
0  Corey  Schafer  CoreyMSchafer@gmail.com       NaN      NaN   NaN
1   Jane      Doe        JaneDoe@email.com       NaN      NaN   NaN
2   John      Doe        JohnDoe@email.com       NaN      NaN   NaN

We can even use conditionals to drop the rows which we dont need.

Let us now use the example of Survey dataframe to accomplish this.

Let us try to remove all the people who live in the United States

In [171]:
#We can do this by using a filtering condition as usual

filt = (df['Country']=='United States')   #Returns a series of True or False

df[filt].index  #Returns all the indexes where people live in US

df.drop(df[filt].index)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,5,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,False,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,False,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,False,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

# Sorting Data

Let us now look at how we can sort the data in columns. We will look at how we can sort a single column, multiple columns and how we can find the minimum and maximum of them.

First, we will try to use this on a smaller dataset which is dfa as usual and then we will try to use this on the Survey dataset

In [175]:
dfa

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [179]:
#We can use the sort_values method to sort the dataframe and we use 'by' to assertain which column to sort

dfa.sort_values(by='first')

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [180]:
#Sorting in descending order

dfa.sort_values(by='first',ascending=False)

   first     last                    email
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

Sometimes, we need to sort the dataframe based on multiple columns and understanding this might be a bit complicated.

We can sort the dataframe on multiple columns by passing the column names as a list to the by attribute as shown below.

We can also pass the "ascending" attributes as a list as we want

In [185]:
dfa.sort_values(by=['last','first'],ascending=[False,True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

What we did here is that we tried to sort the dataframe based on the lastname first in descending order and if there are duplicates, we then sorted the data based on first name next in ascending order.

Since the last name is in descending order, we got Schafer first. But the last names of both Jane and John are Doe so we sorted them in ascending order based on their first names. So the order is Schafer, Jane(Comes before John), John

In [184]:
dfa

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

Sometimes, when we sort the data based on doing this, we might see that our dataframes indexes would be in a mix. 

If we ever want to retain our old indexes after sorting, we can use the "sort_index()" function to do so. 

Let us see an example below

In [187]:
#Notice the indexes

dfa.sort_values(by=['last','first'],ascending=[False,False])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com

In [188]:
#Restoring the usual way

dfa.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

We can even sort a single series of a dataframe and not to view the entire dataframe

In [189]:
dfa['first'].sort_values()

0    Corey
1     Jane
2     John
Name: first, dtype: object

Now, let us go back to our Survey dataset and use these operations on it to view the results

In [190]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

One way we can sort this data is by using the country name as a sorting column

In [194]:
df.sort_values(by='Country',inplace=True)

df[['Country','SalaryUSD']].head(50)

#Working fine

           Country  SalaryUSD
39018  Afghanistan    19152.0
7056   Afghanistan    14364.0
58390  Afghanistan        NaN
73920  Afghanistan        NaN
28877  Afghanistan        NaN
51525  Afghanistan        NaN
45562  Afghanistan        NaN
46807  Afghanistan        NaN
44123  Afghanistan        NaN
22327  Afghanistan     7980.0
86551  Afghanistan        NaN
80423  Afghanistan        NaN
59184  Afghanistan        NaN
60185  Afghanistan        NaN
37571  Afghanistan        NaN
29560  Afghanistan     1116.0
42832  Afghanistan        NaN
12253  Afghanistan        NaN
58082  Afghanistan    17556.0
8112   Afghanistan     1596.0
7323   Afghanistan        NaN
26189  Afghanistan        NaN
50172  Afghanistan   153216.0
86394  Afghanistan        NaN
61770  Afghanistan        NaN
85185  Afghanistan        NaN
50437  Afghanistan        NaN
88340  Afghanistan        NaN
88735  Afghanistan        NaN
6391   Afghanistan        NaN
39754  Afghanistan        NaN
88181  Afghanistan        NaN
48122  Afghanistan     4464.0
85293  Afghanistan        NaN
62124  Afghanistan        NaN
49377  Afghanistan        NaN
32971  Afghanistan        NaN
60559  Afghanistan        NaN
85827  Afghanistan        NaN
88033  Afghanistan        NaN
28470  Afghanistan        0.0
719    Afghanistan        0.0
10697  Afghanistan     3996.0
62723  Afghanistan  1000000.0
64380      Albania    33120.0
11496      Albania     6624.0
28705      Albania    34368.0
43601      Albania    20628.0
58394      Albania     7176.0
46829      Albania        NaN

In [196]:
#Now lets sort the salaries in descending order and countries in ascending order

df.sort_values(by=['Country','SalaryUSD'],ascending=[True,False],inplace=True)

df[['Country','SalaryUSD']].head(50)

           Country  SalaryUSD
62723  Afghanistan  1000000.0
50172  Afghanistan   153216.0
39018  Afghanistan    19152.0
58082  Afghanistan    17556.0
7056   Afghanistan    14364.0
22327  Afghanistan     7980.0
48122  Afghanistan     4464.0
10697  Afghanistan     3996.0
8112   Afghanistan     1596.0
29560  Afghanistan     1116.0
28470  Afghanistan        0.0
719    Afghanistan        0.0
58390  Afghanistan        NaN
73920  Afghanistan        NaN
28877  Afghanistan        NaN
51525  Afghanistan        NaN
45562  Afghanistan        NaN
46807  Afghanistan        NaN
44123  Afghanistan        NaN
86551  Afghanistan        NaN
80423  Afghanistan        NaN
59184  Afghanistan        NaN
60185  Afghanistan        NaN
37571  Afghanistan        NaN
42832  Afghanistan        NaN
12253  Afghanistan        NaN
7323   Afghanistan        NaN
26189  Afghanistan        NaN
86394  Afghanistan        NaN
61770  Afghanistan        NaN
85185  Afghanistan        NaN
50437  Afghanistan        NaN
88340  Afghanistan        NaN
88735  Afghanistan        NaN
6391   Afghanistan        NaN
39754  Afghanistan        NaN
88181  Afghanistan        NaN
85293  Afghanistan        NaN
62124  Afghanistan        NaN
49377  Afghanistan        NaN
32971  Afghanistan        NaN
60559  Afghanistan        NaN
85827  Afghanistan        NaN
88033  Afghanistan        NaN
38075      Albania   187668.0
3771       Albania   114550.0
9230       Albania    74474.0
6688       Albania    60000.0
10257      Albania    57300.0
65859      Albania    41244.0

In [199]:
#We can use the nalargest() method to view the n largest items in a series. This works only on numeric data

df['SalaryUSD'].nlargest(10)

25833    2000000.0
87353    2000000.0
28080    2000000.0
72274    2000000.0
21895    2000000.0
77665    2000000.0
79701    2000000.0
51798    2000000.0
75088    2000000.0
32056    2000000.0
Name: SalaryUSD, dtype: float64

In [203]:
#We can use the same method to get the dataframe where the salaries are the largest

df.nlargest(10,'SalaryUSD')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
25833,25983,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87353,87896,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
28080,28243,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72274,72732,"I am not primarily a developer, but I write co...",False,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
21895,22013,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
77665,78151,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
79701,80200,I am a developer by profession,True,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
51798,52132,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75088,75561,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32056,32250,I am a developer by profession,True,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [209]:
#Alternate method
df.loc[df['SalaryUSD'].nlargest(10).index]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
25833,25983,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87353,87896,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
28080,28243,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,NaN,NaN,Straight / Heterosexual,NaN,Yes,Too short,Easy
72274,72732,"I am not primarily a developer, but I write co...",False,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",NaN,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,Yes,Too long,Easy
21895,22013,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Professional degree (JD, MD, etc.)","A natural science (ex. biology, chemistry, phy...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
77665,78151,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Mexico,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,32.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
79701,80200,I am a developer by profession,True,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech articles written by other developers,25.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
51798,52132,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Peru,No,Some college/university study without earning ...,I never declared a major,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,48.0,Man,NaN,NaN,Black or of African descent;East Asian;Hispani...,Yes,Appropriate in length,Easy
75088,75561,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32056,32250,I am a developer by profession,True,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [211]:
df.nsmallest(10,'SalaryUSD')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
28470,28638,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Afghanistan,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",I never declared a major,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,NaN
719,722,I am a developer by profession,False,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Afghanistan,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
13760,13825,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,NaN,Algeria,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,56.0,NaN,NaN,NaN,NaN,Yes,Too short,Easy
40655,40913,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Armenia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,22.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Easy
68611,69049,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
30447,30630,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,A lot less welcome now than last year,NaN,43.0,NaN,No,NaN,NaN,No,Appropriate in length,Easy
19235,19340,"I am not primarily a developer, but I write co...",True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",NaN,Austria,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Just as welcome now as I felt last year,NaN,32.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
16126,16214,"I am not primarily a developer, but I write co...",True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Bangladesh,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,99.0,NaN,No,NaN,NaN,NaN,Too long,Easy
29184,29355,I am a developer by profession,True,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Bosnia and Herzegovina,"Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,NaN,No,NaN,NaN,NaN,Too long,Easy
50377,50707,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Brazil,"Yes, full-time",Associate degree,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,19.0,Woman,No,Straight / Heterosexual,"Black or of African descent;Native American, P...",No,Appropriate in length,Neither easy nor difficult

# Grouping and Aggregating - Analyzing and Exploring Your Data

Now, let us explore the most important part of the data analysis using Pandas which is "Grouping and Aggregating the Data"

These are the methods which are used to answer the questions like "How many persons in United States use Python and what is their average salary?" etc

Let us dive into this now.

Let us first look at some basic aggregations and then move onto advanced stuff.

Aggregation can be said as combining multiple pieces of data into a single result. Mean, Median and Mode are some aggregations

This is the part where statistics come into picture

In [216]:
df['SalaryUSD'].head(15)

0          NaN
1          NaN
2       8820.0
3      61000.0
4          NaN
5     366420.0
6          NaN
7          NaN
8      95179.0
9      13293.0
10         NaN
11         NaN
12     90000.0
13     57060.0
14         NaN
Name: SalaryUSD, dtype: float64

In [219]:
#Let us find the median of the salary. This ignores the nan values

df['SalaryUSD'].median()

57287.0

In [221]:
#Returns the median of all the numeric columns

df.median()

Respondent     44442.0
CompTotal      62000.0
SalaryUSD      57287.0
WorkWeekHrs       40.0
CodeRevHrs         4.0
Age               29.0
dtype: float64

Let us note that, using the median of the entire Salary column might not be the best way to work with data as different countries have different economic conditions and the median salary can sometimes be a lot higher than the highest salary of a particular country.

To overcome this, we can find the median salary of the developers based on their country

In [222]:
df.describe()

,Respondent,CompTotal,SalaryUSD,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In oder to get a statistical overview of the data we have, we can use the .describe() method.

This returns all the important aggregates like Mean, Median and Mode of all the numeric columns we have in our dataset

Mean can be a bad aggregate to use for numeric columns like Salary as the higher values of Salary sometimes tend to push the mean to extremes.

These values which are abnormally higher than rest of the values in that column are called Outliers. Mean is prone to outliers so it is accurate to use median in these cases

In [223]:
#count :-  Number of non null rows

df['SalaryUSD'].count()

55823

In [227]:
#The count() method is different from value_counts()

df['Hobbyist'].value_counts()

True     71257
False    17626
Name: Hobbyist, dtype: int64

In [231]:
#Returns all the unique values in the column

df['SocialMedia'].unique()

array(['Twitter', 'Instagram', 'Reddit', 'Facebook', 'YouTube', nan,
       'VK ВКонта́кте', 'WhatsApp', "I don't use social media",
       'WeChat 微信', 'LinkedIn', 'Snapchat', 'Weibo 新浪微博', 'Hello',
       'Youku Tudou 优酷'], dtype=object)

In [233]:
#The social media column in df means this

schema_df.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [234]:
#Let us find the most popular social media site

df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [236]:
#Returns the percentages instead of number

df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

Inorder to answer more specific questions like, what social media platforms are popular in different regions or what is the median salary based on country, we need to understand grouping.

We use groupby() function for this.

groupby() function is the operation which involves splitting the object, applying the function and combining the results as given in Pandas documentation

SPLITTING--------->APPLYING FUNCTION----------->COMBINING RESULTS

In [239]:
df['Country'].value_counts()

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
North Korea                  1
Dominica                     1
Tonga                        1
Saint Kitts and Nevis        1
Chad                         1
Name: Country, Length: 179, dtype: int64

In [241]:
#Let us now know how to use groupby() function. The steps are Splitting, applying function, combining results

country_group = df.groupby(['Country'])

#This returns a groupby object

Since we grouped the dataframe by country, we can access by mentioning the country name of the group to yield results

In [243]:
country_group.get_group('India')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,True,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,True,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88808,77339,NaN,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,79795,NaN,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
88852,83862,NaN,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

This is similar to the filter function as shown below

In [246]:
filt = df['Country']=='India'
df.loc[filt].head()

#But by using groupby we can lookup at any country

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,True,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,True,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult

In [248]:
#Now, let us look at the most popular social media sites by country. For a single country, we can use filter as below

df.loc[filt]['SocialMedia'].value_counts()

WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
WeChat 微信                      5
Hello                          5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

But we want to find out the popularity based on all countries so manually writing code as below is inefficient. This is where groupby helps

In [250]:
country_group['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: SocialMedia, dtype: int64

This is a series which have multiple indexes. This returns a series of all the countries

In [255]:
#We can look for India as below. Since the grouping is done on Country, we can use Country Name now

country_group['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [257]:
country_group['SocialMedia'].value_counts(normalize=True).loc['India']

SocialMedia
WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat 微信                   0.000573
VK ВКонта́кте               0.000458
Youku Tudou 优酷              0.000229
Weibo 新浪微博                  0.000115
Name: SocialMedia, dtype: float64

In [265]:
country_group['Hobbyist'].get_group('India').value_counts(normalize=True)

True     0.793952
False    0.206048
Name: Hobbyist, dtype: float64

In [270]:
#Finding the salary of developers based on their countries

country_group['SalaryUSD'].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: SalaryUSD, Length: 179, dtype: float64

In [271]:
#Grabbing a specific country median salary

country_group['SalaryUSD'].median().loc['India']

10080.0

For analysis, let us suppose that we wanted to see not only the median but also the mean salary for developers based on countries.

To use multiple aggregation methods like this, we can use the agg() method and pass in all the aggregations we can use.

Let us look at this example now

In [276]:
#Returns the dataframe consisting of median and mean salaries based on countries

country_group['SalaryUSD'].agg(['median','mean']).head(20)

                       median           mean
Country
Afghanistan            6222.0  101953.333333
Albania               10818.0   21833.700000
Algeria                7878.0   34924.047619
Andorra              160931.0  160931.000000
Angola                 7764.0    7764.000000
Antigua and Barbuda       NaN            NaN
Argentina             17760.0   29467.265306
Armenia               19692.0   24691.733333
Australia             79783.0  171541.116279
Austria               51559.0   83955.639604
Azerbaijan            15858.0   15785.750000
Bahamas                   NaN            NaN
Bahrain               15912.0   23934.000000
Bangladesh             8764.0   21249.652000
Barbados              21000.0   21000.000000
Belarus               24000.0   29442.330645
Belgium               48120.0   73185.564655
Belize                    NaN            NaN
Benin                     NaN            NaN
Bhutan                    NaN            NaN

In [277]:
#Grabbing a single country as below

country_group['SalaryUSD'].agg(['median','mean']).loc['Canada']

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

In [281]:
#How many people in each country know Python

country_group['LanguageWorkedWith'].value_counts()

Country      LanguageWorkedWith
Afghanistan  HTML/CSS;JavaScript;PHP;SQL                3
             HTML/CSS;Java;JavaScript;PHP;Python;SQL    2
             HTML/CSS;Java;PHP;SQL                      2
             Python                                     2
             Assembly                                   1
                                                       ..
Zimbabwe     HTML/CSS;Python;SQL                        1
             Java;JavaScript;Kotlin;Python              1
             Java;JavaScript;SQL                        1
             Objective-C                                1
             Python                                     1
Name: LanguageWorkedWith, Length: 48114, dtype: int64

In [289]:
#Using filtering to perform this operation for a single country India

df.loc[df['Country']=='India']['LanguageWorkedWith'].str.contains('Python').value_counts()

#this returned a series containing true and false but all we need is the people where the Python is True for Boolean.

False    5739
True     3105
Name: LanguageWorkedWith, dtype: int64

We can do this by using the sum() function, which counts the number of Trues in this case which happen to be 1 and display the count of them

In [290]:
#We can see that it returns the correct value

df.loc[df['Country']=='India']['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [295]:
#Now let us see how we can do the same for all columns using groupby

country_group['LanguageWorkedWith'].str.contains('Python')

#This returns an error so we can use apply method to rectify this

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [305]:
#We can use lambda function as shown below. Lambda function can be especially used in groupby functions.

country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').value_counts(normalize=True)).head(10)

Country
Afghanistan          False    0.794872
                     True     0.205128
Albania              False    0.722892
                     True     0.277108
Algeria              False    0.682540
                     True     0.317460
Andorra              False    1.000000
Angola               True     0.500000
                     False    0.500000
Antigua and Barbuda  False    1.000000
Name: LanguageWorkedWith, dtype: float64

In [322]:
#Another way

coun_res = df['Country'].value_counts()
coun_res

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
North Korea                  1
Dominica                     1
Tonga                        1
Saint Kitts and Nevis        1
Chad                         1
Name: Country, Length: 179, dtype: int64

In [323]:
pyth_coun = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
pyth_coun

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [328]:
#Using the concat() funciton to concatenate two series. Since we are concatenating by columns, we use axis=1

dfx = pd.concat([coun_res,pyth_coun],axis=1,sort=False)
dfx.head()

                Country  LanguageWorkedWith
United States     20949               10083
India              9061                3105
Germany            5866                2451
United Kingdom     5737                2384
Canada             3395                1558

In [337]:
dfx.rename(columns={'Country':'TotalPeople','LanguageWorkedWith':'NoofPythonUsers'},inplace=True)
dfx

                       TotalPeople  NoofPytonUsers  Percentage_Python_Users
United States                20949           10083                48.131176
India                         9061            3105                34.267741
Germany                       5866            2451                41.783157
United Kingdom                5737            2384                41.554820
Canada                        3395            1558                45.891016
...                            ...             ...                      ...
North Korea                      1               0                 0.000000
Dominica                         1               1               100.000000
Tonga                            1               0                 0.000000
Saint Kitts and Nevis            1               0                 0.000000
Chad                             1               0                 0.000000

[179 rows x 3 columns]

In [341]:
dfx.sort_values(by='Percentage_Python_Users',ascending=False)

                       TotalPeople  NoofPytonUsers  Percentage_Python_Users
Niger                            1               1               100.000000
Dominica                         1               1               100.000000
Timor-Leste                      1               1               100.000000
Sao Tome and Principe            1               1               100.000000
Turkmenistan                     7               6                85.714286
...                            ...             ...                      ...
Djibouti                         2               0                 0.000000
Liberia                          2               0                 0.000000
Gabon                            2               0                 0.000000
Malawi                           2               0                 0.000000
Chad                             1               0                 0.000000

[179 rows x 3 columns]

In [342]:
dfx.loc['Japan']

TotalPeople                391.000000
NoofPytonUsers             182.000000
Percentage_Python_Users     46.547315
Name: Japan, dtype: float64

# Cleaning Data - Casting Datatypes and Handling Missing Values

Now, let us look at how we can handle missing values and clean up our dataset.

Almost every dataset that we recieve is bound to have missing values or data that needs to be cleaned before trying to make a model.

This is because of the fact that human fetched data is always prone to errors and miscalculations. We will need to sometimes typecast some data to other datatype and replace or drop missing values

First, lets talk about how to drop missing values. 

Let us do in the smaller dataset first and then carry it over to the Survey dataset

In [343]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

dfa = pd.DataFrame(people)

dfa

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

We can handle the missing data based on our dataset in many ways. One such way is to remove the missing data completely. Although this practise is not recommended in real world application usecases as missing data often has data in other sections as well

We can use dropna() method.

This dropna() uses some default arguments such as axis and how. "axis" is set to "index" and how is set to "any" by default.

axis:- when we set axis="index", it drops the rows which has Nan values. If it is set to "columns", it drops columns with missing values

how:-  When the how is by default set to "any", it drops rows with any missing values. This can be changed to "all" which only drops the rows when all rows are missing

In [345]:
dfa.dropna()

#Drops rows where atleast one row has missing values

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [346]:
dfa.dropna(how='all')

#only drops rows when all values in row are nan

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [347]:
dfa.dropna(axis='columns',how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [349]:
#Returns an empty dataframe as column 1 of row 4 has Nan value

dfa.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

We might want to need something advanced for datasets where we should have the flexibility to drop nan values at particular columns or rows. We can also do this in Pandas

For example, we need to drop rows where only the email is missing.

To accomplish this, we need a subset argument. This subset will be the column name that we need to check for nan.

Note: Pass the columns as a list in subset

In [351]:
dfa.dropna(axis='index',how='any',subset=['email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [358]:
#Passing multiple columns. Only drop the entries where both lastname and email are Nan values.

dfa.dropna(axis='index',how='all',subset=['last','email'])

#For a row to be dropped, both lastname and email should be missing

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

Let us now look at the custom missing values and how to handle them

Inorder to handle these kind of custom missing values, we can do it in 2 ways depending on how we obtain the data.

1. We created the data from a dictionary of lists just like the people data we created
2. We read the data from a csv file by using read_csv()

In [359]:
#We can replace by using the replace() function.

dfa = pd.DataFrame(people)

dfa.replace({'NA':np.nan,'Missing':np.nan},inplace=True)

In [360]:
dfa

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [361]:
dfa.dropna(axis='index',how='all',subset=['last','email'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [365]:
#We can use the isna() function to see which values are nan values

dfa.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

Sometimes while working with the numeric data, we would need to fill in the na value with something.

For example in a test, if a student is absent and gets the result as NA, we can fill them with zeros.

We use fillna() method for this

In [367]:
#All the na values are filled with 'Missing'.

dfa.fillna('Missing')

#This is mostly used with numeric data to replace missing value with either mean or by 0

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com       33
1     Jane      Doe        JaneDoe@email.com       55
2     John      Doe        JohnDoe@email.com       63
3    Chris  Schafer                  Missing       36
4  Missing  Missing                  Missing  Missing
5  Missing  Missing      Anonymous@email.com  Missing
6  Missing  Missing                  Missing  Missing

## Casting Datatype

In [368]:
#Let us now look at the datatypes of our sample dataframe

dfa.dtypes

first    object
last     object
email    object
age      object
dtype: object

The age column here is an object and if we want to find out the mean of age, we need to cast it into an integer datatype.

When we have some Nan values in the column that we are working and if we want to change their datatype, we should use float as nan values are in floating datatype by default

In [371]:
type(np.nan)

float

So, we have to convert the age column to float and not integers.

To cast datatype, we use the astype() method

In [374]:
#Converting to floats

dfa['age'] = dfa['age'].astype(float)

In [376]:
#Finding the mean

dfa['age'].mean()

46.75

Now let us take this knowledge to the Survey data and do some analysis

Let us first look at how we can handle the custom Nan values while reading the data by using the read_csv() function

If we know what custom NA values are occuring in the dataset, we can use the "na_values" attribute in the read_csv() function

In [377]:
#Let us answer a question wherein we have to calculate the average years of experience of a developer in the dataset

In [379]:
#YearsCode refers to the years of experience of each coder

df['YearsCode'].head(10)

0      4
1    NaN
2      3
3      3
4     16
5     13
6      6
7      8
8     12
9     12
Name: YearsCode, dtype: object

In [381]:
#This is an object datatype so we have to change it to float

df['YearsCode'].dtypes

dtype('O')

In [382]:
df['YearsCode'] = df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

An unexpected result occured wherein some of the entries of this column are strings which cannot be converted to floats.
So now, let us look at all the unique values of this column

In [385]:
df['YearsCode'].unique()

#We can see two different values "Less than 1 year" and "More than 50 years".

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 'Less than 1 year', '30', '9', '26', '40', '19',
       '15', '20', '28', '25', '1', '22', '11', '33', '50', '41', '18',
       '34', '24', '23', '42', '27', '21', '36', '32', '39', '38', '31',
       '37', 'More than 50 years', '29', '44', '45', '48', '46', '43',
       '47', '49'], dtype=object)

Let us now replace the Less than one year to 0 and more than 50 years to 50 and then find out the mean

In [386]:
df['YearsCode'].replace({'Less than 1 year':0,'More than 50 years':50},inplace=True)

In [388]:
df['YearsCode'].unique()

#now its sorted so lets typecast it to float and finally see the mean

array(['4', nan, '3', '16', '13', '6', '8', '12', '2', '5', '17', '10',
       '14', '35', '7', 0, '30', '9', '26', '40', '19', '15', '20', '28',
       '25', '1', '22', '11', '33', '50', '41', '18', '34', '24', '23',
       '42', '27', '21', '36', '32', '39', '38', '31', '37', 50, '29',
       '44', '45', '48', '46', '43', '47', '49'], dtype=object)

In [389]:
df['YearsCode'] =df['YearsCode'].astype(float)
df['YearsCode'].mean()

11.660681389160544

# End of the Tutorial